# pip install torch==1.7.1+cu110 torchvision==0.8.2+cu110 torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html

opencv-python == 4.1.2.30
tqdm == 4.63.1
protobuf == 3.20.1 
tensorboardX == 2.5.1
timm == 0.4.12 
scikit-image == 0.19.2 
matplotlib == 3.5.1